{% extends 'panel_base.html' %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cms_posts/cms_posts.css' %}" />
{% endblock %}

{% block content %}

<div class="cms_all_posts_wrapper">
    <h3>Posts</h3>

    <a href="">Add New Post</a>
    
    <table>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Categories</th>
          <th>Date</th>
          <th>Options</th>
        </tr>
        <!--
        <tr>
          <td>Top 10 Exersices for Mental Health</td>
          <td>Maria Anders</td>
          <td>Sport</td>
          <td>12 Jun, 2024</td>
          <td><a href="">Edit</a> <a href="">View</a> <a href="">Trash</a></td>
        </tr>
        -->
      
        {% for post in all_posts %}
          <tr>
            <td>{{ post.title|truncatechars:20 }}</td>
            <td>{{ post.author.full_name }}</td>
            <td>{{ post.category }}</td>
            <td>{{ post.creation_date }}</td>
            <td>
              <a href="">Edit</a> 
              <a href="{% url 'blog_single_view' post.id %}">View</a> 
              <form method="POST" action="{% url 'cms_posts_landing' %}" onsubmit="return confirmSubmission()">
                {% csrf_token %}
                <input type="hidden" value="{{ post.id }}" name="hidden_id">
                <input type="submit" value="Trash" name="delete_single_post">
              </form>
            </td>
          </tr>
        {% endfor %}
        
      </table>
</div>

<script>
  function confirmSubmission() {
      return confirm('Are you sure you want to delete?');
  }
</script>

{% endblock %}