.cms_all_posts_wrapper {
    width: 97%;
    margin-left: 5px;
}

.cms_all_posts_wrapper h3 {
    margin-bottom: 15px;
}

.cms_all_posts_wrapper a {
    margin-bottom: 20px;
    border: 1px solid #3c81f6;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    width: 150px;
    text-align: center;
    padding: 5px 15px;
    color: #3c81f6;
}

.cms_all_posts_wrapper a:hover {
    color: white;
    background-color: #3c81f6;
    transition: 0.2s;
}

.cms_all_posts_wrapper table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.cms_all_posts_wrapper table td, .cms_all_posts_wrapper table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.cms_all_posts_wrapper table th {
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: left;
    background-color: #c6dbff;
    color: black;
}

  
.cms_all_posts_wrapper table td {
    padding-top: 9px;
    padding-bottom: 9px;
}

.cms_all_posts_wrapper table a {
    border: 1px solid #3c81f6;
    border-radius: 4px;
    text-decoration: none;
    width: 150px;
    text-align: center;
    padding: 2px 8px;
    font-size: 15px;
    color: #3c81f6;
}

.cms_all_posts_wrapper table form {
    display: inline-block;
}

.cms_all_posts_wrapper table form input {
    border: 1px solid #3c81f6;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    padding: 2px 8px;
    font-size: 15px;
    color: #3c81f6;
    background-color: transparent;
}   

.cms_all_posts_wrapper table form input:hover {
    color: white;
    background-color: #3c81f6;
    transition: 0.2s;
    cursor: pointer;
}

.cms_all_posts_wrapper table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.cms_all_posts_wrapper table tr:nth-child(odd) {
    background-color: white;
}

#listing_type_public {
    background-color: #E9F7EF;
}

#listing_type_draft {
    background-color: #F4ECF7;
}

#customers tr:hover {background-color: #ddd;}

/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {}

/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {}

/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {}

/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {}

/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {}

/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {}